<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Blog</title>
  <style>
    .new_article{
      background-color: #eb2632;
      color: #fff;
      font-size: 1.2rem;
    }
  </style>
</head>
<body style="background-color: #101010;">
  <div class="container">
    <nav class="navbar navbar-light" style="background-color: #101010;">
      <a class="navbar-brand" href="#" style="font-family: 'Roboto', sans-serif; font-weight: bold; color: #fff">Master <span style="color: #eb2632;">Diag</span></a>
    </nav>    

    <a href="/articles/new" class="new_article btn">Creaza un articol nou</a>

    <% articles.forEach(article => { %>
      <div class="card mt-4" style="background-color: #101010; border: 1px solid #eb2632">
        <div class="card-body">
          <h4 class="card-title" style="color: #fff"><%= article.title %></h4>
          <div class="card-subtitle mb-2" style="color: #fff;">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2" style="color: #fff"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
          <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>